body {
	width: 1037px;
	float: center;
	margin-top: 10px;
	font-size: 70%;
	color: #29299d;
}

nav{
	width:658px;
	margin-left: 132px;
	float: left;
}
li{
	display:inline;
	margin-left: 28px;
}
dl{
	float: center;
	margin-top: 10px;
	font-size: 70%;
	color: #29299d;
}
.column{
	border-style: solid;
	border-width: 5px;
background-color: rgba(255,69,0);
width: 400px;
margin: 0 10px;
margin-top:20px;
float: left;
}
