/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: #ffffff;
	font: 'bebas_neueregular';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header {
	font-family: 'bebas_neueregular';
  margin-left: 10px;
	float: left;
	width:100%;
  padding: 1em;
	color: #ffffff;
	padding-bottom: 1000px;

	background-image: url('story.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#overlay img { display: none; }

#overlay.currently-loading img {
    display: block;
    width: 100%;
    heigth: 100%;
}

h1{
	font-family: 'bebas_neueregular';
	color: #ffffff;
    font-size: 200%;
		margin-left: 100px;
		margin-right: 100px;
}

h2{
	font-family: 'bebas_neueregular';
	color: #ffffff;
    font-size: 150%;
		margin-left: 100px;
		margin-right: 100px;
}

h3{
	font-family: 'bebas_neueregular';
	color: #ffffff;
    font-size: 200%;
}

li{
	font-family: 'bebas_neueregular';
 	display:inline;
	margin-left: 28px;
  margin-top: 28px;
  font-size: 150%;
	color: #ffffff;
}
ul{
	font-family: 'bebas_neueregular';
	float: right;
	margin-right: 80px;
	margin-top: 0px;
	color: #ffffff;
}

body {
	font-family: 'bebas_neueregular';
  margin: auto;
background-color: Black;
}

main {
	font-family: 'bebas_neueregular';
	 margin: 0 auto;
	margin-top: 25px;
	max-width: 2000px;
}

footer {
	margin-top: 50px;
}
